.CeoHello {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  text-align: left;
}

.CeoHello h1 {
  text-align: center;
}

.CeoHello img {
  width: 100%;
}

.CeoHello ul {
  -webkit-padding-start: 20px;
}

.CeoHello li {
  font-size: 20px;
}
