.CompanyIntro {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  text-align: left;
}

.CompanyIntro h1 {
  text-align: center;
}

.CompanyIntro img {
  width: 100%;
}

.CompanyIntro h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 32px;
}

.CompanyIntro ul {
  margin-top: 0;
  -webkit-padding-start: 20px;
}

.CompanyIntro li {
  font-size: 20px;
}
